{% extends 'base.html' %}

{% block title %}

{{ page_title }}

{% endblock %}

{% block body %}

<h1>Веб-ассистент для поддержания здорового образа жизни.</h1>
<div class="container">
    <ol>
        <li>Ассистент персоналисируется и выдает индивидуальные рекомендации. </li>
        <li>Предоставляет возможность мониторинга: веса, потребленных и потраченных калорий, выпитой воды. </li>
        <li>Дает советы по меню и режиму дня.</li>
        <li>Показывает примеры тренировочных программ для различных цедей (похудение, набор мышечной массы).</li>
        <li>Показывает новости и статьи по теме: ЗОЖ.</li>
    </ol>
</div>

{% endblock %}

        
        
