{% extends 'base.html' %}

{% block title %}

{{ page_title }}

{% endblock %}

{% block body %}

<div class="container">
<h1>Новости ЗОЖ</h1>
    <form action="{{ url_for('news.process_searching_news') }}" enctype="multipart/form-data" method="GET">
        <div class="input-group mb-3">
            <div class="col-4">
                {{ form.search_news() }}
            </div>
            {{ form.submit() }}
        </div>  
    </form>
    <div class="row">
        <div class="col-8">     
            {% for news in news_list %}
                <h3><a href=" news/{{news.id}} ">{{ news.title }}</a></h3>
                <b>{{ news.category }}</b><br>
                <hr />
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}