<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Healt Project</title>
    </head>
    <body>
        <h1>Веб-ассистент для поддержания здорового образа жизни.</h1>
        <div class="container">
            <ol>
                <li>Ассистент персоналисируется и выдает индивидуальные рекомендации. </li>
                <li>Предоставляет возможность мониторинга: веса, потребленных и потраченных калорий, выпитой воды. </li>
                <li>Дает советы по меню и режиму дня.</li>
                <li>Показывает примеры тренировочных программ для различных цедей (похудение, набор мышечной массы).</li>
                <li>Показывает новости и статьи по теме: ЗОЖ.</li>
            </ol>
        </div>
    </body>
</html>
