<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
  
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/index" class="nav-link px-2 text-secondary">Главная</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">О нашем проекте</a></li>
        </ul>

        <span class="fs-3" text-align="center" id='hea'>Health Project</span>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
        </form>

        <div class="text-end">
          <form>
            {% if not user.is_authenticated %}
              <button type="submit" formaction="/users/login" class="btn btn-outline-light me-2">Вход</button>
              <button type="submit" formaction="/users/registr"class="btn btn-warning">Регистрация</button>
            {% endif %}

            {% if user.is_admin %}
              <button type="submit" formaction="/admin/create_news"class="btn btn-info">Добавить новость</button>
            {% endif %}

            {% if user.is_authenticated %}
              <button type="submit" formaction="/users/logout" class="btn btn-outline-light me-2">Выход</button>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
    </header>
    
    <div class="b-example-divider"></div>

    <div class="container">

    {% include 'menu.html'%}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-warning" role="alert">
            {% for message in messages %}
              {{ message }}<br>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

    {% block body%}{% endblock %}
    
    </div>

    <div class="b-example-divider"></div>
  
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <span class="text-muted">© 2021 Health Project, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </footer>
    </div>
<script type="text/javascript" src="https://unpkg.com/popper.js"></script>
<script type="text/javascript" src="https://unpkg.com/tooltip.js"></script>
</body>
</html>