{% extends 'base.html'%}

{% block title%}

{{ page_title }}

{% endblock %}

{% block body%}


<h1>{{ title }}</h1>

<div class="row">
    <div class="col-8">
      <form action="{{ url_for('admin.edit', news_id=news_edit.id) }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
          {{ form.edit_title.label }}
          {{ form.edit_title() }}
        </div> 
        <div class="mb-3">
          {{ form.edit_category.label }}
          {{ form.edit_category() }}
        </div>       
        <div class="mb-3">
          {{ form.edit_text.label }}
          {{ form.edit_text(rows='20') }}
        </div>   
        {{ form.submit() }}
      </form>  
    </div>
</div>

{% endblock %}