<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Healt Project</title>
    </head>
    <body>
        <h1>About:
            Ассистент для поддержания здорового образа жизни.
            Ассистент персоналисируется и выдает индивидуальные рекомендации. 
            Предоставляет возможность мониторинга: веса, потребленных и потраченных калорий, выпитой воды. 
            Дает советы по меню и режиму дня.</h1>
    </body>
</html>
